*
{
    margin:0px;
    padding:0px;
   
}
.container .col-lg-12 h1
{
    padding-left:25%;
    color:#001a33;
    font-weight: bold;
    margin-top: -2%;
}
.container form input
{
    margin-left:20%;
}
.table
{
    margin-left: 15%;
    
}
